{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}

<script>
    $(document).ready(function () {
        console.log("here");
     /*   $.post( "{{ path('reservation_Avalaible_Beds') }}", function( data ) {
           console.log(data);
        });*/

        $.ajax({
            type: "POST",
            url:  "{{ path('reservation_Avalaible_Beds') }}",
            data: {
                // "date_debut": "2021-03-20",
                // "date_fin": "2021-03-20",
                // "sexe" : "M"
                "date_debut": $("#reservation_reservedAt").val(),
                "date_fin": $("#reservation_leaveAt").val(),
                "sexe" : $("#reservation_sexe").val()
            },
            success: function (response) {
                //service.php response
                console.log(response);
            }
        });

        $("form :input").change(function() {
            // var dateStart = $("#reservation_reservedAt").val();
            // var dateEnd = $("#reservation_leaveAt").val();
            // var sexe = $("#reservation_sexe").val();
            //
            // console.log(dateStart,dateEnd,sexe);
            // console.log(dateEnd);
            // console.log(sexe);
            $.ajax({
                type: "POST",
                url:  "{{ path('reservation_Avalaible_Beds') }}",
                data: {

                        "date_debut": $("#reservation_reservedAt").val(),
                        "date_fin": $("#reservation_leaveAt").val(),
                        "sexe" : $("#reservation_sexe").val()
                    }
               ,
                success: function (response) {
                    //service.php response
                    console.log(response);
                    $('#reservation_bed').empty();
                    response.forEach(function(option) {
                        $('#reservation_bed').append($('<option>', option));
                    });



                }
            });
        });

    });
</script>
{% endblock %}
