{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <h1>Secteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secteur.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ secteur.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ secteur.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('secteur_index') }}">back to list</a>

    <a href="{{ path('secteur_edit', {'id': secteur.id}) }}">edit</a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
