{% extends 'base.html.twig' %}

{% block title %}Bed index{% endblock %}

{% block body %}
    <h1>Bed index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Postion</th>
                <th>Room</th>
                <th>Type</th>
                <th>IsOperationel</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bed in beds %}
            <tr>
                <td>{{ bed.id }}</td>
                <td>{{ bed.postion }}</td>
                <td>{{ bed.room.label }}</td>
                <td>{{ bed.room.roomType }}</td>
                <td>{{ bed.isOperationel ? 'Yes' : 'No' }}</td>
                <td>{{ bed.commentaire }}</td>
                <td>
                    <a href="{{ path('bed_show', {'id': bed.id}) }}">show</a>
                    <a href="{{ path('bed_edit', {'id': bed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bed_new') }}">Create new</a>
{% endblock %}
